<div *ngIf="(errorMessage$ | async) !== ''">
    Error: {{ errorMessage$ | async }}
</div>

<div *ngIf="(loading$ | async) === false; else loadingElement">
    <ng-container *ngIf="post(); else postNotFound">
        <app-posts-detail
            [post]="post()"
            [comments]="comments$ | async">
        </app-posts-detail>
    </ng-container>
</div>

<ng-template #loadingElement>Loading...</ng-template>
<ng-template #postNotFound>
    <div>This post does not exist.</div>
</ng-template>